---
import Layout from '../layouts/Layout.astro';

import HeroSection from './hero-section.astro';
import SectionFrameworks from './section-frameworks.astro';
import SectionFeatures from './section-features.astro';
import SectionGettingStarted from './section-getting-started.astro';
import AdvancedDemo from './advanced-demo-section.astro';
---

<Layout title="Welcome to Astro.">
  <main>
    <HeroSection />
    <SectionFrameworks />
    <SectionFeatures />
    <SectionGettingStarted />
    <AdvancedDemo />
  </main>
</Layout>
