---
import CardFeature from '../components/card-feature.astro';
import SectionBase from '../components/section-base.astro';
---

<SectionBase
  badge="Features"
  title="Advanced Features"
  description="Gridstack.js is a modern Typescript library designed to help developers create beautiful draggable, resizable, responsive layouts with just a few lines of code."
>
  <div class="*:mt-4">
    <CardFeature
      title="Full Mobile Support"
      description="Craft responsive, mobile-friendly applications with ease."
    />
    <CardFeature
      title="Draggable & Resizable Elements"
      description="Intuitive interfaces with interactive components."
      >test</CardFeature
    >
    <CardFeature
      title="Effortless Drag-and-Drop"
      description="Manage content dynamically from a sidebar for insertions and deletions."
    />
    <CardFeature
      title="Responsive, Column-Based Layouts"
      description="Design adaptable and visually appealing web layouts."
    />
    <CardFeature
      title="Save and Restore Feature"
      description="Easily preserve and revert to previous layouts."
    />
    <CardFeature
      title="Inter-grid Interactivity"
      description="Drag items across multiple grids for sophisticated layout management."
    />
    <CardFeature
      title="Nested Grids"
      description="Create and manipulate nested grids dynamically to any depth."
    />
    <CardFeature
      title="Extensive Framework Support"
      description="Native Angular support, along with external bindings for Vue, React, Ember, Knockout.js, and more."
    />
  </div>
</SectionBase>
