---
import LayoutExamples from '../../layouts/LayoutExamples.astro';
---

<LayoutExamples title="Examples">
  <div>To see an example of gridstack, choose an example on the right panel</div>
</LayoutExamples>
