---
interface Props {
  title: string;
}
import { ViewTransitions } from 'astro:transitions';
import Navbar from '../components/navbar';
import { Toaster } from 'sonner';
const { title } = Astro.props;

import '../styles/globals.css';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Astro description"
    />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.svg"
    />
    <!-- Gridstack CSS -->
    <link
      href="node_modules/gridstack/dist/gridstack.min.css"
      rel="stylesheet"
    />
    <!-- Lexend Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Lexend&display=swap"
      rel="stylesheet"
    />
    <!-- Devicons -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css"
    />

    <meta
      name="generator"
      content={Astro.generator}
    />
    <title>{title}</title>

    <ViewTransitions />
  </head>
  <body>
    <Navbar client:load />
    <Toaster
      richColors
      client:load
    />
    <div class="pt-16">
      <slot />
    </div>
    <style is:global>
      html {
        font-family: 'Lexend', system-ui, sans-serif;
      }
      code {
        font-family:
          Menlo,
          Monaco,
          Lucida Console,
          Liberation Mono,
          DejaVu Sans Mono,
          Bitstream Vera Sans Mono,
          Courier New,
          monospace;
      }
    </style>
  </body>
</html>
